# ===============================
# NECESSARIO TROCAR
# ===============================

# Definir a senha de acesso ao repositório, salve a senha no seu gerenciador de senhas
export BORG_PASSPHRASE='CHANGE-ME'

# ===============================
# OUTRAS VARS AJUSTAVIES
# ===============================

# Prune options
export BORG_PRUNE_OPTIONS="--keep-daily=7 --keep-weekly=4 --keep-monthly=-1"

# Raíz da cópia, a partir de onde olhar recursivamente
export BORG_SOURCE_PATH="/home/$(whoami)"

# Arquivo com patterns para copiar
export BORG_PATTERN_FILE="$(dirname "$0")/patterns"

# Archive name
export BORG_ARCHIVE_NAME="$(hostname)-{now:%Y-%m-%d_%H:%M:%S}"

# Where to mount the backup repository
export BORG_MOUNTPOINT="$(dirname "$0")/backups"

# Log folder
export LOG_FOLDER="$(dirname "$0")/logs"

# Log file using current date
export LOG_FILE="$LOG_FOLDER/$(basename "$0")-$(date +%Y-%m-%d_%H:%M:%S).log"

# ===============================
# VARS QUE VC NEM PODE MEXER
# ===============================

# Repository definition
export BORG_REPO="ssh://$(whoami)@192.168.15.2:22789/volume1/borg/$(whoami)/$(hostname)"

# Location of borg binary on remote host
export BORG_REMOTE_PATH=/usr/local/bin/borg

